<div class="container">

  <!-- header bar -->

  <div style="height: 100px; width: 100%;">
    <h1>Header</h1>
  </div>
  <div>
    <span style="font-weight: bold; margin: 0.5rem 0rem; font-size: 25px;">Spelling Mistakes</span>
    <button type="button" class="btn btn-lg btn-outline-secondary mainBtns" (click)="open(content)"
      style="position: absolute; right: 7vw">
      Filter Data <i class="fas fa-filter"></i>
    </button>
    <div style="font-size: 16px; margin: 0.5rem 0rem;">
      <a href="#" style="color:#70727d;"> Filter Quality > </a>
      <a href="#" style="color:#f4f4f4;">Spelling Mistakes > </a>
      <i class="far fa-copy" style="color: #70727d;"></i>
    </div>
  </div>

  <!-- Main screen parts -->

  <div class="scrollbar">
    <div class="overflow">
      <div>

        <!-- Main Screen Part1 -->


        <!-- Hearder of main screen part1 -->
        <div class="row" style="display: flex; align-items: center;" style="background-color: #36383f;">
          <div class="row col-md-6" style="margin-top: 15px;">
            <div class="col-md-4" style="margin-bottom:10px;">
              <span class="fontwrongSpelling">{{correctSpelling1}}</span>
              <span style="font-size: 15px; padding-left: 20px;"> <i class="fas fa-times"></i>
                {{numcorrectSpelling1}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row" style="display: flex; align-items: center;">
              <div class="col-md-6">
                <div class="form-row" style="display: flex; align-items: center; padding-left: 10px;">
                  <label class="col-md-6 col-form-label fontS" for="correctSpelling">What is Correct Spelling?</label>
                  <input type="text" class="form-control col-md-6 mainInput" name="correctSpelling" id="correctSpelling"
                    [(ngModel)]="correctSpelling1" placeholder="Enter Correct Spelling"
                    (ngModelChange)='oncorrectspelling1()' />
                </div>
              </div>
              <div class="col-md-6" style="margin:10px 0px">
                <button type="button" class="btn btn-outline-secondary mr-2 mainBtns" (click)='onAltSpelling()'>
                  Alt Spelling
                </button>
                <button type="button" class="btn btn-outline-secondary mr-2 mainBtns" (click)='onAltSense()'>
                  Alt Sense
                </button>
                <select class="mdb-select md-form colorful-select dropdowndark" (change)='languageSelect1()'
                  [(ngModel)]="selectedLan1">
                  <option value="1">Arabic</option>
                  <option value="2">Catalan</option>
                  <option value="3">Chinese</option>
                  <option value="4">Czech</option>
                  <option value="5">English</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Content of main screen part1 -->
        <div class="row" style="background-color: #222226;">
          <div class="fontGray col-md-6" style="border-right: 1px solid; border-color:#36383f">
            <p class="fontS">Examples</p>
            <div>
              <div [innerHTML]="example1[0]"></div>
              <div [innerHTML]="example1[1]"></div>
              <div [innerHTML]="example1[2]"></div>
            </div>
            <div style="text-align: right; margin-right: 20px; margin-bottom: 20px;">
              <button type="button" class="btn btn-outline-secondary mr-2 mainBtns" (click)='onloadmore()'>
                More
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <p class="fontS">Alternatives</p>
            <div style="display: flex; align-items: center; justify-content: center; height: 80%;"
              *ngIf='isNonAlternative'>
              <div class="fontGray" style="display: block; text-align: center;">
                <i class="fas fa-exclamation-circle"></i>
                <p>You have not added any alterantives</p>
              </div>
            </div>
            <div class="col-md-6 form-row" style="display: flex; padding-left: 15px; width: 100%;"
              *ngIf="isAltSpelling&&!isNonAlternative">
              <input type="text" class="form-control PremainInput" [(ngModel)]="preCorrectSpelling"
                (ngModelChange)='onPrecorrectspelling()' />
              <button type="button" class="btn btn-outline-secondary premainBtns" (click)='closeAltSpelling()'>
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div style="padding-left: 15px; width: 100%;" *ngIf="isAltSense&&!isNonAlternative">
              <div class="form-row" style="display: flex;">
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="btmMorePos">
                <button type="button" class="btn btn-outline-secondary mr-2 mainBtns" (click)='onloadmore()'>
                  More
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Main Screen Part2 -->

        <!-- Hearder of Main Screen Part2 -->

        <div class="row" style="display: flex; align-items: center;" style="background-color: #36383f;">
          <div class="row col-md-6" style="margin-top: 15px;">
            <div class="col-md-4" style="margin-bottom:10px;">
              <span class="fontwrongSpelling">{{correctSpelling2}}</span>
              <span style="font-size: 15px; padding-left: 20px;"> <i class="fas fa-times"></i>
                {{numcorrectSpelling2}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row" style="display: flex; align-items: center;">
              <div class="col-md-6">
                <div class="form-row" style="display: flex; align-items: center; padding-left: 10px;">
                  <label class="col-md-6 col-form-label fontS" for="correctSpelling">What is Correct Spelling?</label>
                  <input type="text" class="form-control col-md-6 mainInput" name="correctSpelling" id="correctSpelling"
                    [(ngModel)]="correctSpelling2" placeholder="Enter Correct Spelling"
                    (ngModelChange)='oncorrectspelling2()' />
                </div>
              </div>
              <div class="col-md-6" style="margin:10px 0px">
                <button type="button" class="btn btn-outline-secondary mr-2 mainBtns" (click)='onAltSpelling2()'>
                  Alt Spelling
                </button>
                <button type="button" class="btn btn-outline-secondary mr-2 mainBtns" (click)='onAltSense2()'>
                  Alt Sense
                </button>
                <select class="mdb-select md-form colorful-select dropdowndark" (change)='languageSelect2()'
                  [(ngModel)]="selectedLan2">
                  <option value="1">Arabic</option>
                  <option value="2">Catalan</option>
                  <option value="3">Chinese</option>
                  <option value="4">Czech</option>
                  <option value="5">English</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Content of Main Screen Part2 -->

        <div class="row" style="background-color: #222226;">
          <div class="fontGray col-md-6" style="border-right: 1px solid; border-color:#36383f">
            <p class="fontS">Examples</p>
            <div>
              <div [innerHTML]="example2[0]"></div>
              <div [innerHTML]="example2[1]"></div>
              <div [innerHTML]="example2[2]"></div>
            </div>
            <div style="text-align: right; margin-right: 20px; margin-bottom: 20px;">
              <button type="button" class="btn btn-outline-secondary mr-2 mainBtns" (click)='onloadmore()'>
                More
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <p class="fontS">Alternatives</p>
            <div style="display: flex; align-items: center; justify-content: center; height: 80%;"
              *ngIf='isNonAlternative2'>
              <div class="fontGray" style="display: block; text-align: center;">
                <i class="fas fa-exclamation-circle"></i>
                <p>You have not added any alterantives</p>
              </div>
            </div>
            <div class="col-md-6 form-row" style="display: flex; padding-left: 15px; width: 100%;"
              *ngIf="isAltSpelling2&&!isNonAlternative2">
              <input type="text" class="form-control PremainInput" [(ngModel)]="preCorrectSpelling2"
                (ngModelChange)='onPrecorrectspelling2()' />
              <button type="button" class="btn btn-outline-secondary premainBtns" (click)='closeAltSpelling2()'>
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div style="padding-left: 15px; width: 100%;" *ngIf="isAltSense2&&!isNonAlternative2">
              <div class="form-row" style="display: flex;">
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div style="display: flex; margin: 10px 0px;">
                  <input type="text" class="form-control PremainInput" (ngModelChange)='onPrecorrectspelling()' />
                  <button type="button" class="btn btn-outline-secondary premainBtns">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="btmMorePos">
                <button type="button" class="btn btn-outline-secondary mr-2 mainBtns" (click)='onloadmore()'>
                  More
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: right;margin-top: 10px;">
    <button type="button" class="btn btn-outline-secondary btn-sm mr-2" (click)='onFilterPrevPage()'
      style="border: none; color: white;background-color: #1b1f22;">
      <i class="fas fa-chevron-left"></i> Prev
    </button>
    <button type="button" class="btn btn-outline-secondary  btn-sm mr-2" (click)='onFilterNextPage()'
      style="background-color:#04e762; margin-left: 20px; border: none; color: black;">
      Next <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>

<!-- Side bar  -->

<ng-template #content let-modal>
  <div class="Modalcontainer">
    <!-- <div class="modal-header"></div> -->
    <div class=" modal-body" style="padding: 20px 10px;">

      <!-- Sidebar header -->

      <div style="display: flex;align-items: center;">
        <span class="modal-title" id="modal-basic-title" style="margin-left: 10px;">Filter Data</span>
        <div (click)="modal.dismiss('Cross click')" style="position: absolute;right: 10px;">
          <i class="fas fa-times fa-md"></i>
          <span style="margin-left: 5px; font-size: 14px;">CLOSE</span>
        </div>
      </div>
      <hr style="margin-top: 20px; margin-bottom: 10px;">

      <!-- Sidebar body -->

      <div class="filterPanel" style="min-height: 85vh;">
        <!-- Sidebar Search -->
        <div style="margin-left: 10px; padding-bottom: 10px;">
          <p class="filterPanel_S" style="padding-left: 0px; margin: 0px 0px; font-size: 17px;">Phrase Search</p>
          <input [(ngModel)]='phraseSearch' class="mainLoginInput mr-2" type="text" placeholder="&#61442; Phrase Search"
            (ngModelChange)='onPhraseSearchchange()' style="color: #f4f4f4; padding-left: 10px;" />
        </div>
        <hr>

        <!-- Sidebar Counts -->

        <div class="filterPanel_S" (click)='onFilterCounts()' *ngIf="filterCounts">
          <i class="fas fa-chevron-circle-down" style="margin-right: 5px;"></i>
          <span>Counts</span>
        </div>
        <div *ngIf="!filterCounts">
          <div class="filterPanel_S" (click)='onFilterCounts()' style="color: #58c1b8;">
            <i class="fas fa-chevron-circle-up" style="margin-right: 5px;"></i>
            <span>Counts</span>
          </div>
          <button *ngIf="!filterCounts10" type="button" class="btn btn-outline-secondary mr-2 panelbtn"
            (click)='onFilterCounts10()'>
            10px
          </button>
          <button *ngIf="filterCounts10" type="button" class="btn btn-outline-primary mr-2 panelbtnSelect "
            (click)='onFilterCounts10()'>
            10px
          </button>
          <button *ngIf="!filterCounts25" type="button" class="btn btn-outline-secondary mr-2 panelbtn"
            (click)='onFilterCounts25()'>
            25px
          </button>
          <button *ngIf="filterCounts25" type="button" class="btn btn-outline-primary mr-2 panelbtnSelect"
            (click)='onFilterCounts25()'>
            25px
          </button>
          <button *ngIf="!filterCounts50" type="button" class="btn btn-outline-secondary mr-2 panelbtn"
            (click)='onFilterCounts50()'>
            50px
          </button>
          <button *ngIf="filterCounts50" type="button" class="btn btn-outline-primary mr-2 panelbtnSelect"
            (click)='onFilterCounts50()'>
            50px
          </button>
          <button *ngIf="!filterCounts100" type="button" class="btn btn-outline-secondary mr-2 panelbtn"
            (click)='onFilterCounts100()'>
            100px
          </button>
          <button *ngIf="filterCounts100" type="button" class="btn btn-outline-primary mr-2 panelbtnSelect"
            (click)='onFilterCounts100()'>
            100px
          </button>
          <button *ngIf="!filterCounts250" type="button" class="btn btn-outline-secondary mr-2 panelbtn"
            (click)='onFilterCounts250()'>
            250px
          </button>
          <button *ngIf="filterCounts250" type="button" class="btn btn-outline-primary mr-2 panelbtnSelect"
            (click)='onFilterCounts250()'>
            250px
          </button>
          <button *ngIf="!filterCounts500" type="button" class="btn btn-outline-secondary mr-2 panelbtn"
            (click)='onFilterCounts500()'>
            500px
          </button>
          <button *ngIf="filterCounts500" type="button" class="btn btn-outline-primary mr-2 panelbtnSelect"
            (click)='onFilterCounts500()'>
            500px
          </button>
          <button *ngIf="!filterCounts750" type="button" class="btn btn-outline-secondary mr-2 panelbtn"
            (click)='onFilterCounts750()'>
            750px
          </button>
          <button *ngIf="filterCounts750" type="button" class="btn btn-outline-primary mr-2 panelbtnSelect"
            (click)='onFilterCounts750()'>
            750px
          </button>
          <button *ngIf="!filterCounts1000" type="button" class="btn btn-outline-secondary mr-2 panelbtn"
            (click)='onFilterCounts1000()'>
            1000px
          </button>
          <button *ngIf="filterCounts1000" type="button" class="btn btn-outline-primary mr-2 panelbtnSelect"
            (click)='onFilterCounts1000()'>
            1000px
          </button>
        </div>
        <hr>

        <!-- Sidebar Review Statue -->

        <div class="filterPanel_S" (click)='onFilterReviewedStatus()' *ngIf="filterReviewedStatus">
          <i class="fas fa-chevron-circle-down" style="margin-right: 5px;"></i>
          <span>Reviewed Status</span>
        </div>
        <div *ngIf="!filterReviewedStatus">
          <div class="filterPanel_S" (click)='onFilterReviewedStatus()' style="color: #58c1b8;">
            <i class="fas fa-chevron-circle-up" style="margin-right: 5px;"></i>
            <span>Reviewed Status</span>
          </div>
          <div style="padding-left: 20px;">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button *ngIf="!filterReviewedStatusP" type="button" class="btn btn-outline-secondary panelgroupbtn"
                (click)='onFilterReviewedStatusP()'>Pending</button>
              <button *ngIf="filterReviewedStatusP" type="button" class="btn btn-outline-secondary panelgroupbtnSelect"
                (click)='onFilterReviewedStatusP()'>Pending</button>
              <button *ngIf="!filterReviewedStatusR" type="button" class="btn btn-outline-secondary panelgroupbtn"
                (click)='onFilterReviewedStatusR()'>Reviewed</button>
              <button *ngIf="filterReviewedStatusR" type="button" class="btn btn-outline-secondary panelgroupbtnSelect"
                (click)='onFilterReviewedStatusR()'>Reviewed</button>
              <button *ngIf="!filterReviewedStatusB" type="button" class="btn btn-outline-secondary panelgroupbtn"
                (click)='onFilterReviewedStatusB()'>Both</button>
              <button *ngIf="filterReviewedStatusB" type="button" class="btn btn-outline-secondary panelgroupbtnSelect"
                (click)='onFilterReviewedStatusB()'>Both</button>
            </div>
            <div style="margin:10px 0px">
              <span class="panelfont" style="padding-right: 20px;">
                Reviewed By
              </span>
              <select class="mdb-select md-form colorful-select panelDropdowndark" (change)='onReviewedBy()'
                [(ngModel)]="Reviewedby">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
              </select>
            </div>
            <span class="panelfont">
              Reviewed Between
            </span>
            <form class="form-inline">
              <div class="form-group" style="margin-top: 10px;">
                <div class="input-group">
                  <input class="form-control datepickerIn" placeholder="Start Date" name="sDate" [(ngModel)]="startDate"
                    ngbDatepicker #sDate="ngbDatepicker" (dateSelect)="onStartDateSelection($event)">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="sDate.toggle()" type="button"
                      style="display: flex;"><i class="fas fa-calendar-alt"></i></button>
                  </div>
                </div>
                <span style="margin: 10px 10px; margin-top: 0px;"></span>
                <div class="input-group">
                  <input class="form-control datepickerIn" placeholder="End Date" name="eDate" [(ngModel)]="endDate"
                    ngbDatepicker #eDate="ngbDatepicker" (dateSelect)="onEndDateSelection($event)">
                  <div class=" input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="eDate.toggle()" type="button"
                      style="display: flex;"><i class="fas fa-calendar-alt"></i></button>
                  </div>
                </div>
              </div>
            </form>
            <div style="display: flex;align-items: center; margin-top: 15px; margin-bottom: 5px;">
              <input type="checkbox" id="ossm" name="ossm" style="margin-bottom: 5px; margin-right: 5px;"
                [(ngModel)]='hasUnsolved' (ngModelChange)='onHasUnsolved()'>
              <label for="ossm" style="font-size: 14px;">Has unresolved comments</label>
            </div>
          </div>
          <!-- <pre>Model: {{ startDate | json }}</pre>                  -->
        </div>
        <hr>

        <!-- Sidebar Counts  -->

        <div class="filterPanel_S" (click)='onFilterAccounts()' *ngIf="filterAccounts">
          <i class="fas fa-chevron-circle-down" style="margin-right: 5px;"></i>
          <span>Accounts</span>
        </div>
        <div *ngIf="!filterAccounts">
          <div class="filterPanel_S" (click)='onFilterAccounts()' style="color: #58c1b8;">
            <i class="fas fa-chevron-circle-up" style="margin-right: 5px;"></i>
            <span>Accounts</span>
          </div>
          <div style="padding-left:20px;">
            <p class="panelfont">
              If you have a sandbox or multi-accounts you can work on multiple items here.
            </p>
            <select class="mdb-select md-form colorful-select panelDropdowndark" (change)='onAccounts()'
              [(ngModel)]="selectedAccounts">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              <option value="4">Option 4</option>
              <option value="5">Option 5</option>
            </select>
          </div>
        </div>
        <hr>

        <!-- Sidebar Created Time  -->

        <div class="filterPanel_S" (click)='onFilterCreated()' *ngIf="filterCreated">
          <i class="fas fa-chevron-circle-down" style="margin-right: 5px;"></i>
          <span>Created Time</span>
        </div>
        <div *ngIf="!filterCreated" style="margin-bottom: 20px;">
          <div class="filterPanel_S" (click)='onFilterCreated()' style="color: #58c1b8;">
            <i class="fas fa-chevron-circle-up" style="margin-right: 5px;"></i>
            <span>Created Time</span>
          </div>
          <form class="form-inline">
            <div class="form-group" style="margin-top: 10px; padding-left: 20px;">
              <div class="input-group">
                <input class="form-control datepickerIn" placeholder="Start Date" name="CSDate"
                  [(ngModel)]="createStartDate" ngbDatepicker #CSDate="ngbDatepicker"
                  (dateSelect)="onCreateStartDateSelection($event)">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="CSDate.toggle()" type="button"
                    style="display: flex;"><i class="fas fa-calendar-alt"></i></button>
                </div>
              </div>
              <span style="margin: 10px 10px;"></span>
              <div class="input-group">
                <input class="form-control datepickerIn" placeholder="End Date" name="CEDate"
                  [(ngModel)]="createEndDate" ngbDatepicker #CEDate="ngbDatepicker"
                  (dateSelect)="onCreateEndDateSelection($event)">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="CEDate.toggle()" type="button"
                    style="display: flex;"><i class="fas fa-calendar-alt"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr>
      </div>

      <!-- Sidebar Footer  -->

      <div class="row">
        <button type="button" class="btn btn-outline-secondary  btn-sm mr-2" (click)='onFilterApply()'
          style="background-color:#04e762; margin-left: 20px; border: none; color: black;">
          Apply Filter
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm mr-2" (click)='onFilterCancel()'
          style="border: none; color: white;">
          Cancel
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm mr-2" (click)='onFilterReset()'
          style="color: #58c1b8; border-color: #58c1b8; border: none;position: absolute;right: 10px;">
          Reset Filter
        </button>
      </div>
    </div>
    <!-- <div class="modal-footer"></div> -->
  </div>
</ng-template>

<router-outlet></router-outlet>