/* You can add global styles to this file, and also import other style files */
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.modal-dialog {
    max-width: 500px;
    margin: 0 0 0 auto;
    height: 100%;
}

div.modal-content{
    height: 100%;
    background-color: #1b1f20;
}
.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    max-width: 410px;
}